<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Trusted_Connection=True;Data Source=(local);Database=CDP.Core" />
  <add name="master" connectionString="Trusted_Connection=True;Data Source=(local);Database=CDP.Master" />
  <add name="web" connectionString="Trusted_Connection=True;Data Source=(local);Database=CDP.Web" />
  <add name="nosqlraven" connectionString="Url = http://localhost:8080; DefaultDatabase = Test" />
</connectionStrings>