<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Trusted_Connection=True;Data Source=(local);Database=SitecoreData.Core" />
  <add name="master" connectionString="Trusted_Connection=True;Data Source=(local);Database=SitecoreData.Master" />
  <add name="web" connectionString="Trusted_Connection=True;Data Source=(local);Database=Sitecore.Web" />
  <add name="nosqlraven" connectionString="Url = http://localhost:8080; DefaultDatabase = Web" />
  <add name="nosqlmongo" connectionString="mongodb://localhost:27017/web" />
  <add name="nosqlserialization" connectionString="..\Data\serialization\master" />
</connectionStrings>