<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Trusted_Connection=True;Data Source=(local);Database=SitecoreData65_Core" />
  <add name="master" connectionString="Trusted_Connection=True;Data Source=(local);Database=SitecoreData65_Master" />
  <add name="web" connectionString="Trusted_Connection=True;Data Source=(local);Database=SitecoreData65_Web" />
  <add name="nosqlraven" connectionString="Url = http://localhost:8080; DefaultDatabase = Web" />
  <add name="nosqlmongocore" connectionString="mongodb://localhost:27017/core?safe=true" />
  <add name="nosqlmongomaster" connectionString="mongodb://localhost:27017/master?safe=true" />
  <add name="nosqlmongoweb" connectionString="mongodb://localhost:27017/web?safe=true" />
  <add name="nosqlserialization" connectionString="..\Data\serialization\master" />
</connectionStrings>