<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <sc.variable name="masterDb" value="nosqlmongomaster"/>
    <sc.variable name="coreDb" value="nosqlmongocore"/>
    <sc.variable name="webDb" value="nosqlmongoweb"/>
    
    <sites>
      <site name="shell">
        <patch:attribute name="database">$(coreDb)</patch:attribute>
        <patch:attribute name="content">$(masterDb)</patch:attribute>
      </site>
      <site name="login">
        <patch:attribute name="database">$(coreDb)</patch:attribute>
      </site>
      <site name="modules_shell">
        <patch:attribute name="database">$(coreDb)</patch:attribute>
        <patch:attribute name="content">$(masterDb)</patch:attribute>
      </site>
      <site name="modules_website">
        <patch:attribute name="database">$(webDb)</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="database">$(webDb)</patch:attribute>
      </site>
    </sites>
    
    <dataProviders>
      <!--
      <serialization type="Sitecore.DataProviders.Serialization.SerializationDataProvider, Sitecore.DataProviders.Serialization">
        <param connectionStringName="$(1)" />
        <Name>$(1)</Name>
      </serialization>
      -->
      <nosqlraven type="SitecoreData.DataProviders.DataProviderWrapper, SitecoreData.DataProviders">
        <param desc="connectionStringName">nosqlraven</param>
        <param desc="implementationType">SitecoreData.DataProviders.RavenDB.RavenDataProvider, SitecoreData.DataProviders.RavenDB</param>
      </nosqlraven>
      
      <nosqlmongo type="SitecoreData.DataProviders.DataProviderWrapper, SitecoreData.DataProviders">
        <param desc="connectionStringName">$(1)</param>
        <param desc="implementationType">SitecoreData.DataProviders.MongoDB.MongoDataProvider, SitecoreData.DataProviders.MongoDB</param>
      </nosqlmongo>
    </dataProviders>

    <databases>
      <!--
      <database id="nosqlraven" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <icon>Network/16x16/earth.png</icon>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/nosqlraven" param1="$(id)" />
        </dataProviders>
        <readonly>false</readonly>
        <securityEnabled>true</securityEnabled>
        <publishVirtualItems>false</publishVirtualItems>
        <cacheSizes hint="setting">
          <data>20MB</data>
          <items>10MB</items>
          <paths>500KB</paths>
          <standardValues>500KB</standardValues>
        </cacheSizes>
      </database>
      -->

      <database id="nosqlmongoweb" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <icon>People/16x16/cubes_blue.png</icon>
        <dataProviders hint="list:AddDataProvider" >
          <dataProvider ref="dataProviders/nosqlmongo" param1="$(id)">
          </dataProvider>
        </dataProviders>
        <securityEnabled>true</securityEnabled>
        <proxiesEnabled>false</proxiesEnabled>
        <publishVirtualItems>false</publishVirtualItems>
        <cacheSizes hint="setting">
          <data>20MB</data>
          <items>10MB</items>
          <paths>500KB</paths>
          <standardValues>500KB</standardValues>
        </cacheSizes>
      </database>

      <database id="nosqlmongomaster" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <icon>People/16x16/cubes_blue.png</icon>
        <dataProviders hint="list:AddDataProvider" >
          <dataProvider ref="dataProviders/nosqlmongo" param1="$(id)">
          </dataProvider>
        </dataProviders>
        <workflowProvider hint="defer" type="Sitecore.Workflows.Simple.WorkflowProvider, Sitecore.Kernel">
          <param desc="database">$(id)</param>
          <param desc="history store" ref="workflowHistoryStores/mongo" param1="$(id)"/>
        </workflowProvider>
        <securityEnabled>true</securityEnabled>
        <proxiesEnabled>false</proxiesEnabled>
        <publishVirtualItems>false</publishVirtualItems>
        <cacheSizes hint="setting">
          <data>20MB</data>
          <items>10MB</items>
          <paths>500KB</paths>
          <standardValues>500KB</standardValues>
        </cacheSizes>
      </database>

      <database id="nosqlmongocore" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <icon>People/16x16/cubes_blue.png</icon>
        <dataProviders hint="list:AddDataProvider" >
          <dataProvider ref="dataProviders/nosqlmongo" param1="$(id)">
          </dataProvider>
        </dataProviders>
        <securityEnabled>true</securityEnabled>
        <proxiesEnabled>false</proxiesEnabled>
        <publishVirtualItems>false</publishVirtualItems>
        <cacheSizes hint="setting">
          <data>20MB</data>
          <items>10MB</items>
          <paths>500KB</paths>
          <standardValues>500KB</standardValues>
        </cacheSizes>
      </database>
    </databases>
        
    <workflowHistoryStores>
      <mongo type="SitecoreData.DataProviders.MongoDB.MongoHistoryStore, SitecoreData.DataProviders.MongoDB">
        <param connectionStringName="$(1)"/>
      </mongo>
    </workflowHistoryStores>

    <settings>
      <setting name="IgnoreUrlPrefixes">
        <patch:attribute name="value">/TestDataProvider.aspx|/Transfer.aspx|/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing</patch:attribute>
      </setting>
      <setting name="WebDAV.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Indexing.UpdateInterval">
        <patch:attribute name="value">00:00:00</patch:attribute>
      </setting>
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <!-- Fix for when you have .NET v4.5 installed -->
      <setting name="Login.RememberLastLoggedInUserName">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>

  </sitecore>
</configuration>
