<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="website">
        <patch:attribute name="database">nosqlmongo</patch:attribute>
      </site>
    </sites>

    <dataProviders>
      <!--<serialization type="Sitecore.DataProviders.Serialization.SerializationDataProvider, Sitecore.DataProviders.Serialization">
        <param connectionStringName="$(1)" />
        <Name>$(1)</Name>
      </serialization>
      -->
      <nosqlraven type="SitecoreData.DataProviders.DataProviderWrapper, SitecoreData.DataProviders">
        <param connectionStringName="$(1)" />
        <param desc="implementationType">SitecoreData.DataProviders.RavenDB.RavenDataProvider, SitecoreData.DataProviders.RavenDB</param>
      </nosqlraven>
      
      <nosqlmongo type="SitecoreData.DataProviders.DataProviderWrapper, SitecoreData.DataProviders">
        <param connectionStringName="nosqlmongo" />
        <param desc="implementationType">SitecoreData.DataProviders.MongoDB.MongoDataProvider, SitecoreData.DataProviders.MongoDB</param>
      </nosqlmongo>
    </dataProviders>

    <databases>
      <database id="nosqlraven" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <icon>Network/16x16/earth.png</icon>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/nosqlraven" param1="$(id)" />
        </dataProviders>
        <readonly>false</readonly>
        <securityEnabled>true</securityEnabled>
        <publishVirtualItems>false</publishVirtualItems>
        <cacheSizes hint="setting">
          <data>20MB</data>
          <items>10MB</items>
          <paths>500KB</paths>
          <standardValues>500KB</standardValues>
        </cacheSizes>
      </database>

      <database id="nosqlmongo" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <icon>People/16x16/cubes_blue.png</icon>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/nosqlmongo">
          </dataProvider>
        </dataProviders>
        <securityEnabled>true</securityEnabled>
        <proxiesEnabled>false</proxiesEnabled>
        <publishVirtualItems>false</publishVirtualItems>
        <cacheSizes hint="setting">
          <data>20MB</data>
          <items>10MB</items>
          <paths>500KB</paths>
          <standardValues>500KB</standardValues>
        </cacheSizes>
      </database>
    </databases>

    <settings>
      <setting name="WebDAV.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Indexing.UpdateInterval">
        <patch:attribute name="value">00:00:00</patch:attribute>
      </setting>
      <setting name="Counters.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>

  </sitecore>
</configuration>
