<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ravendb_webtest" connectionString="Url = http://localhost:8080; DefaultDatabase = webtest" />
    <add name="mongodb_webtest" connectionString="mongodb://localhost:27017/webtest?safe=true" />
  </connectionStrings>
</configuration>